#container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
      circle at var(--x) var(--y),
      rgba(229, 97, 42, 0.9) 0%,
      rgba(232, 129, 47, 0.9) 40%,
      rgba(236, 160, 53, 0.9) 60%,
      rgba(239, 192, 58, 0.9) 100%
    ),
    url(../../assets/noise.png);

  color: #000;
  font-family: "Playfair", serif;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-weight: 900;
    // margin: 0;
  }

  p {
    max-width: 50rem;

    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    opacity: 0.8;
  }
}
